<html>
<head>

<link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" />
</head>
<body>
<h1 id ="maintitle">Lend An Ear!</h1>
<p>this is some text explaining that the site is for
   discussing and getting help with problems</p>
 

<div id="menu">
<table id="mainmenu">
<tr>
<td><a href={{url_for('anxiety')}}>Anxiety</a></td>
<td><a href={{url_for('depression')}}>Depression</a></td>
<td><a href={{url_for('lgbt')}}>LGBT</a></td>
</tr>

<tr>
<td><a href={{url_for('relationships')}}>Relationships</a></td>
<td><a href={{url_for('stress')}}>Stress</a></td>
<td><a href={{url_for('offtopic')}}>Off Topic</a></td>
</tr>
</table>
</div>

</body>



</html>
